@font-face {
  font-family: "Roboto-Slab";
  src: url(/fonts/RobotoSlab-VariableFont_wght.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 100px 1fr 100px;
  font-family: "Roboto-Slab";
  font-weight: 400;
  overflow: hidden;
  background-color: #b8b8b8;
}

h1 {
  text-align: center;
  grid-column: 1 / -1;
  font-family: "Roboto-Slab";
  font-weight: 600;
  font-size: 65px;
}

button {
  font-family: "Roboto-Slab";
  font-weight: 500;
}
.top-button {
  text-align: center;
  padding: 10px;
  grid-row: 2 / 3;
}

.top-button button {
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  border: 2px solid black;
  padding: 15px 25px;
}

.top-button button:hover {
  background-color: black;
  color: white;
}

/* Modal box settings */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-flex {
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}

.modal-content input[type="text"],
input[type="number"] {
  height: 30px;
  width: 300px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.status {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-top: 10px;
}

.status input {
  height: 30px;
  width: 30px;
  margin-left: 0.8em;
}

.button-center {
  display: flex;
  justify-content: center;
}

.button-center button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  border: 2px solid black;
}

.button-center button:hover {
  background-color: black;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  position: relative;
  font-size: 28px;
  font-weight: bold;
  top: -25px;
  right: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal settings end */
/* Container */

.container {
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  padding: 0 300px;
}

.container div {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
}

.container button {
  width: 60%;
  padding: 5px;
  border-radius: 10px;
  border-style: none;
  border: 2px solid black;
}

.turn-red {
  background-color: white;
}

.turn-red:hover {
  background-color: red;
}

.button-red {
  background-color: red;
}

.button-green {
  background-color: #03c03c;
}
